name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    # only run on main repository
    if: github.repository == 'ren-jie-wu/accordion' && github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: |
            pyproject.toml
            setup.cfg
            setup.py
            requirements*.txt

      - name: Install build / test dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bedtools
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .
          pip install pytest pdoc

      - name: Run tests
        run: pytest -q
